body {
  font-family: Arial, sans-serif;
  background: #fffaf3;
  margin: 0;
}
h1 {
  color: #c55a11;
  text-align: center;
  padding-top: 20px;
}
nav {
  text-align: center;
  margin-bottom: 20px;
}
button {
  margin: 8px;
  padding: 8px 15px;
  background: #c55a11;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover { background: #ee7b23; }
section {
  max-width: 960px;
  margin: auto;
  padding: 10px;
}

select, input {
  padding: 6px;
  margin: 5px 0;
  width: 100%;
  max-width: 300px;
}
